.HomePage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-image: url("../assets/gym-background.jpg");
    background-size: 100%;
}

.Input{
    text-align: left;
    width: 100px;
}

p {
    display: inline-block;
}

.InputAlignCener{
    text-align: center;
}

.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .columnDiv {
    flex: 50%;
    padding-right: 10px;
    text-align: end;
  }

  .columnInput{
    flex: 50%;
    padding-top: 10px;
    text-align: start;  
  }

  .submitDiv{
    padding-top : 20px
  }